* {
    box-sizing: border-box;
    font-family: cursive;
    color: #000000;
}

html,
body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: #FFFFFF;
    text-decoration: none;
}

.main_nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main_nav li {
    padding: 0% 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main_header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url(".\image/header background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band_name {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: 'Times New Roman', serif;
    font-weight: normal;
    color: #FFFFFF;
}

.band_name_large {
    font-size: 5em;
}

.content_section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section_header {
    font-family: 'Times New Roman', serif;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about_bount_image {
    float: left;
    height: 200px;
    width: 210px;
    margin: 15px;
    border-radius: 50%;
}

.main_footer {
    background-color: #56ccf2;
    color: #FFFFFF;
    padding: .25em 0;
}

.main_footer_container {
    display: flex;
    align-items: center;
}

.main_footer_container ul {
    flex-grow: 1;
    text-align: end;
}

.footer_nav li {
    padding: 0 .5em;
}

.footer_nav img {
    width: 30px;
    height: 30px;
}

.content_section_container {
    margin: auto;
}

.about_bount_new {
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 15px;
}
	









